body {background-color:gray;}
p {color:blue;}

.success{
    background-color:#57A957;
    color:white;
}

.yui3-button-icon {
    background-image: url("../assets/button/icon-sprite-dark-and-light-24.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}